# Python temporary files
__pycache__/
*.py[cod]

# Python virtual environments
.venv/
venv/

# IDE settings
.vscode/
.idea/

# Operating-system files
.DS_Store
Thumbs.db

# Arduino build files
build/
*.hex
*.elf

# Private configuration
.env
